flask_study\x_oldFiles\
flask_study\x_oldFiles\static
flask_study\x_oldFiles\templates
C:\gitProject\flask_study\flask_study\x_oldFiles\
x_oldFiles\
flask_study/x_oldFiles/
app_start.bat
flask_study/profile_image/
flask_study/static/profile_image/
