<!DOCTYPE HTML>
<html lang="kr">

<head>
    <meta charset="utf-8">
    <link href="../static/css/style_layout.css" rel="stylesheet" />
    <title>Flask Study</title>
</head>

<body>
    <header>
        <nav>
            <a href="/">Flask Study</a>
            <a href="/">Home</a>
            <a href="/signup">Sign Up</a>
            <a href="/about">About</a>
            <a href="/editor">Post</a>
        </nav>
    </header>

    <main role="main">
        <!-- Main content block -->
        {% block content %}{% endblock %}
    </main>
    <footer></footer>
</body>

</html>